.inventory-modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1000;
  padding: 10px 30px 30px 30px;
  width: 70%;
  color: #584c4c;
  overflow-x: "auto";
  overflow-y: "auto";
}

@media (max-width: 468px) {
  .inventory-modal-styles {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .inventory-modal-styles {
    width: 90%;
  }
}

@media (max-width: 969px) {
  .inventory-modal-styles {
    width: 80%;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  height: 70%;
}

td,
th {
  text-align: center;
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #dad9d9ea;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}

.table-scroll {
  overflow-y: scroll;
  height: 600px;
}
