.nav-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-content: center;
}

.nav-btn {
  margin-right: 5%;
  margin: auto 5%;
  border-radius: 12px;
  height: 70%;
  width: 10%;
  border: none;
  /* font-size: large; */
  text-align: center;
  cursor: pointer;
  display: block;
  color: #ffffff;
  font-size: 13px;

  text-transform: capitalize;
  background-color: #272121;
  transition: background-color 0.5s ease-in-out;
}

.nav-btn:hover {
  background-color: #000000;
}

.logo-text {
  color: rgb(12, 172, 150);
  height: 70%;
  width: 25%;
  margin-left: 5%;
  margin: auto 5%;
  font-family: cursive;
  font-weight: 800;
  font-size: 25px;
}

@media (max-width: 468px) {
  .nav-btn {
    width: 60% !important;
  }
  .logo-text {
    width: 80% !important;
    font-size: 18px !important;
    line-height: 2;
  }
}

@media (max-width: 768px) {
  .nav-btn {
    width: 30%;
  }
  .logo-text {
    width: 80% !important;
    font-size: 18px !important;
    line-height: 2;
  }
}
