body {
  margin: 0;
  padding: 0;
  background-color: #dad9d9ea;
  font-family: sans-serif;
}

.container {
  width: 100%;
}

.product-container {
  /* width: 60%; */
  margin: 60px auto;
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .product-container {
    width: 90%;
  }
}

@media (max-width: 969px) {
  .container {
    width: 100%;
  }
  .product-container {
    width: 90%;
  }
}

.product {
  background-color: #ffffff;
  width: 270px;
  height: 250px;
  margin: 20px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 468px) {
  .container {
    width: 100%;
  }
  .profile-card {
    width: 290px;
    height: 250px;
  }
}

@media (max-width: 290px) {
  .container {
    width: 100%;
  }
  .product {
    width: 80%;
  }
}

.name {
  font-size: 20px;
  margin-top: 40px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: rgb(12, 172, 150);
  word-wrap: break-word;
}

.price {
  background-color: rgb(12, 138, 121);
  color: #ffffff;
  width: 150px;

  height: 38px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 3px 3px 3px 3px #e6e6e6;
  border-radius: 3px;
  outline: none;
  border: none;
  text-transform: uppercase;
  margin: 0 60px;
}

.date {
  text-align: center;
  font-size: small;
  color: #584c4c;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  margin: 0 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: #006080;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: small;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
